{% extends "base.html" %}

{% block titel %}
    {{mailinglist.name}} Management
{% endblock title %}

{% block body %}
    <h1>{{mailinglist.name}} Management</h1>
    <a href="{% url 'core_app:delete_mailinglist' pk=mailinglist.id %}">Delete</a>

    <div>
        <a href="{% url 'core_app:create_subscriber' pk=mailinglist.pk %}">Subscription Link</a>
    </div>

    <h2>Messages</h2>
    <div>
        <a href="{% url 'core_app:create_message' pk=mailinglist.id %}">Send new Message</a>
    </div>

    <ul>
        {% for message in mailinglist.message_set.all %}
            <li>
                <a href="{% url 'core_app:view_message' pk=message.id %}">{{message.subject}}</a>
            </li>
        {% endfor %}
    </ul>

    <h2>Subscribers</h2>
    <ul>
        {% for subscriber in mailinglist.subscriber_set.all %}
            <li>
                {{subscriber.email}}
                {{subscriber.confirmed|yesno:"confirmed, unconfirmed"}}
                <a href="{% url 'core_app:unsubscribe' pk=subscriber.id %}">Unsubscribe</a>
            </li>
        {% endfor %}
    </ul>
{% endblock body %}